
.game {
    border: black solid thin;
    /* box-sizing: border-box; */
    /* overflow: hidden; */
}
button {
    user-select: none;
}

.player .main {
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
}
.player .main .sidebar {
    float: left;
    width: 10%;
    
}

/* Move control button */
.sidebar button.control {
    width: 100px;
    height: 100px;
}

/* Targettable Player Element */
.sidebar .player {
    /* border: black solid thin; */
    background-color: rgb(204, 233, 204);
    user-select: none;
    text-align: center;
}

.player .main .battlefield {
    float: left;
    width: 90%;
}


.bar {
    height: 3px;
    background-color: red;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}


.lands, .permanents {
    border: solid thin green;
    min-height: 30px;
}

.library, .graveyard, .exile {
    display: none;
}

.stack {
    position: absolute;
    z-index: 10;
    cursor: move;
    border: solid thin black;
    top: 0;
    left: 50%;
}
.stack > .title {
    background-color: gray;
}

.card {
    user-select: none;
    width: 213px;
    /* height: 210px; */
    /* min-height: 170px; */
    height: 301px;
    display: inline-block;
    vertical-align: top;
    border: solid thick black;
    border-radius: 10px;
    background-color: white;

    /* font-size: small; */
}

.card.white {
    background-color: rgb(233, 232, 218);
}
.card.blue {
    background-color: rgb(154, 198, 228);
}
.card.black {
    background-color: rgb(129, 122, 122);
}
.card.red {
    background-color: rgb(201, 77, 60);
}
.card.green {
    background-color: rgb(51, 136, 72);
}
.card.colorless {
    background-color: rgb(212, 215, 216);
}
.card.multicolored {
    background-color: rgb(197, 162, 87);
}

.card .image {
    width: 100%;
    text-align: center;
}
.card .image canvas {
    /* margin-left: auto;
    margin-right: auto;
    display: block; */
    width: calc(100% - 15px);
    height: 140px;
    /* height: 100px; */
    display: inline;
}

.card.tapped {
    background-color: rgb(172, 185, 192);
}

.card.attacker {
    background-color: rgb(247, 157, 157);
}
.card.blocker {
    background-color: rgb(158, 158, 241);
}

/* Font settings */
@font-face {
    font-family: 'Magic Title';
    src: url('/Fonts/Matrix\ Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Magic Text';
    src: url('/Fonts/MPlantin.ttf') format('truetype');
}

.card .title,
.card .type {
    font-family: 'Magic Title';
}

.card .text,
.card .extra {
    font-family: 'Magic Text';
}