.game {
    border: black solid thin;
    /* box-sizing: border-box; */
    /* overflow: hidden; */
}
button {
    user-select: none;
}

.player .main {
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
}
.player .main .sidebar {
    float: left;
    width: 10%;
    
}

.player .main .battlefield {
    float: left;
    width: 90%;
}

.bar {
    height: 3px;
    background-color: red;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* .game .sidebar .player {
    height: 40%;
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    background-color: yellow;
} */
/* .game .sidebar .player p {
    margin: 0px;
} */

.lands, .permanents {
    border: solid thin green;
    min-height: 30px;
}

.library {
    display: none;
}

.card {
    border-radius: 10px;
    user-select: none;
    max-width: 120px;
    display: inline-block;
    vertical-align: top;
    border: solid thick rgb(0, 0, 0);
    background-color: rgb(215, 235, 245);
    /* border-radius: 30px; */
}
.card.tapped {
    
    background-color: rgb(172, 185, 192);
}