.game {
    border: black solid thin;
    /* box-sizing: border-box; */
    /* overflow: hidden; */
}
button {
    user-select: none;
}

.player .main {
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
}
.player .main .sidebar {
    float: left;
    width: 10%;
    
}

.sidebar {
    background-color: white;
    position: relative;
    z-index: 190;
}

/* Move control button */
.sidebar button.control {
    width: 100px;
    height: 100px;
}

/* Targettable Player Element */
.sidebar .player {
    /* border: black solid thin; */
    background-color: rgb(204, 233, 204);
    user-select: none;
    text-align: center;
}

.player .main .battlefield {
    float: left;
    width: 90%;
}


.bar {
    height: 3px;
    background-color: red;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.lands, .permanents {
    border: solid thin green;
    min-height: 30px;
}

.library, .graveyard, .exile {
    display: none;
}

.stack {
    position: absolute;
    z-index: 100;
    cursor: move;
    border: solid thin black;
    top: 0;
    left: 50%;
}
.stack > .title {
    background-color: gray;
}

.card.stack-ability {
    border-radius: 10px 10px 70% 70% / 10px 10px 30% 30%;
}

.card.card.stack-ability .text {
    height: 35%;
    border-radius: 0px 0px 70% 70% / 0px 0px 80% 80%;
}

.choices {
    z-index: 300;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* opacity: 0.5; */
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    justify-content: center;
}
.choices .dialogue {
    background-color: white;
    /* opacity: 5.0; */
    position: relative;
    z-index: 301;
    border: solid thin black;
    width: 50%;
    /* height: 50%; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    padding: 30px;

}
.choices .dialogue .title {
    font-size: x-large;
    font-weight: bold;
}
.choices .dialogue .options {
    display: flex;
    padding: 30px;
}
.choices .dialogue .options .option {
    flex: 1;
}
.choices .dialogue .options .option button {
    width: 100%;
    min-height: 100%;
}
.choices .dialogue .options .option.selected button {
    background-color: green;
}
.choices .dialogue .controls {
    padding: 30px;
    display: flex;
    height: 50px;
}
.choices .dialogue .controls > * {
    flex: 1;
}
.choices .dialogue .submit.valid {
    background-color: blue;
}

.card {
    user-select: none;
    width: 213px;
    height: 301px;
    display: inline-block;
    vertical-align: top;
    border: solid thick black;
    border-radius: 10px;
    background-color: white;
    text-align: left;

    font-size: 11px;
    /* For z-index control */
    /* position: relative; */
}
:root {
    --hand-margin0: 0px;
    --hand-margin1: 0px;
}
.player0 .card.handCard {
    margin-right: var(--hand-margin0);
    transform: rotate(0deg); /* Apply transform (no actual change is needed) to ensure zIndex is correctly applied */
}
.player1 .card.handCard {
    margin-right: var(--hand-margin1);
    transform: rotate(0deg); /* Apply transform (no actual change is needed) to ensure zIndex is correctly applied */
}
.card.battlefieldCard {
    position: relative;
}
.card.attached {
    position: absolute !important;
    bottom: 30px;
}
.card.tapped {
    transform: rotate(90deg);
}
.card:hover {
    position: relative;
    z-index: 200 !important;
}

.card.white {
    background-color: rgb(221, 213, 176);
}
.card.white .title,
.card.white .type,
.card.white .text,
.card.white .stats {
    background-color: rgb(247, 247, 245);
}
.card.white .text {
    background-color: rgb(247, 243, 236);
}

.card.blue {
    background-color: rgb(54, 184, 229);
    /* background-image: url('https://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=482948&type=card'); */
    /* background-image: url('https://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=423754&type=card'); */
}
.card.blue .title,
.card.blue .type,
.card.blue .text,
.card.blue .stats {
    background-color: rgb(196, 226, 238);
}
.card.blue .text {
    background-color: rgb(235, 239, 247);
}

.card.black {
    background-color: rgb(25, 38, 42);
}
.card.black .title,
.card.black .type,
.card.black .text,
.card.black .stats {
    background-color: rgb(193, 187, 187);
}
.card.black .text {
    background-color: rgb(236, 235, 233);
}

.card.red {
    background-color: rgb(254, 161, 147);
}
.card.red .title,
.card.red .type,
.card.red .text,
.card.red .stats {
    background-color: rgb(251, 212, 195);
}
.card.red .text {
    background-color: rgb(249, 235, 226);
}

.card.green {
    background-color: rgb(79, 135, 98);
}
.card.green .title,
.card.green .type,
.card.green .text,
.card.green .stats {
    background-color: rgb(202, 216, 211);
}
.card.green .text {
    background-color: rgb(224, 237, 230);
}

.card.colorless {
    background-color: rgb(135, 168, 186);
}
.card.colorless .title,
.card.colorless .type,
.card.colorless .text,
.card.colorless .stats {
    background-color: rgb(218, 225, 232);
}
.card.colorless .text {
    background-color: rgb(220, 229, 230);
}

.card.multicolored {
    /* background-color: rgb(225, 202, 134); */
    background-color: rgb(223, 207, 136);
}
.card.multicolored .title,
.card.multicolored .type,
.card.multicolored .stats {
    background-color: rgb(217, 195, 130);
}
.card.multicolored .text {
    background-color: rgb(243, 240, 234);
}


.card .title,
.card .type
{
    background-color: rgb(255, 255, 255);
    margin-left: 3px;
    margin-right: 3px;
    /* margin-bottom: 3px; */
    border: solid thin black;
    border-radius: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.card .title {
    margin-top: 7px;
    height: 17px;
}
.card .title span {
    display: inline-block;
    vertical-align: middle;
    line-height: 15px;
}

.card .title .name {
    font-size: 13px;
    font-weight: bold;
}
.card .title .cost {
    float: right;
}

.card .image {
    width: 100%;
    text-align: center;
}
.card .image canvas {
    /* margin-left: auto;
    margin-right: auto;
    display: block; */
    width: calc(100% - 15px);
    height: 140px;
    /* height: 100px; */
    display: inline;
}

.card .text {
    height: 30%;
    background-color: wheat;
    margin-left: 9px;
    margin-right: 9px;
    padding-left: 5px;
    padding-right: 5px;
}


.card.attacker {
    background-color: rgb(247, 157, 157);
}
.card.blocker {
    background-color: rgb(158, 158, 241);
}

/* Font settings */
@font-face {
    font-family: 'Magic Title';
    src: url('/Fonts/Matrix\ Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Magic Text';
    src: url('/Fonts/MPlantin.ttf') format('truetype');
}

.card .title,
.card .type {
    font-family: 'Magic Title';
}

.card .text,
.card .stats {
    font-family: 'Magic Text';
}

.card .stats {
    border: solid thin black;
    border-radius: 7px;
    float: right;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    width: 40px;
    margin-right: 7px;
}